<md-dialog class="md-dark">
    <md-dialog-content class="md-padding">
        <h2><b>Beta Tester Program?</b></h2>
        As an early tester of this tool, you are automatically entered into the beta tester program.
        <br>
        <h3>Qualifications</h3>
        This program is simple, you report any bugs you encounter, and we fix them!
        <br>
        <h3>Rewards</h3>
        Upon completion of our beta program, you will gain access to our tool for an extended period of time, free of charge.
    </md-dialog-content>
    <md-dialog-actions layout="row" class="md-block" layout-align="stretch">
        <md-button flex ng-click="closeDialog()" class="md-warn">Dismiss</md-button>
    </md-dialog-actions>
</md-dialog>