<md-content layout-fill layout="column">
    <md-content layout="row">

        <!--<md-button flex class="md-raised md-primary">More Details</md-button>-->
        <md-button ng-click="closeTicket()" flex class="md-raised md-warn">Close Ticket</md-button>

    </md-content>
    <div flex ui-view>
    </div>

</md-content>






