<md-card class="md-whiteframe-3dp md-padding">
    <h2>Advanced</h2>
    <span layout="row" class="md-block" layout-align="stretch" layout-md="column" layout-sm="column"
          layout-xs="column">
                <md-button ng-click="requestData()" disabled flex class="md-primary">
                Download Account Data (Unavailable)
                </md-button>
                </span>
    <span layout="row" class="md-block" layout-align="stretch" layout-md="column" layout-sm="column"
          layout-xs="column">
                <md-button ng-click="deleteAccount()" flex class="md-warn">
                Delete Account
                </md-button>
    </span>
</md-card>