<span layout="row" class="md-block" layout-align="stretch" layout-md="column" layout-sm="column" layout-xs="column">
<md-button ng-click="requestData()" flex class="md-primary">
Download Account Data
</md-button>
</span>
<span layout="row" class="md-block" layout-align="stretch" layout-md="column" layout-sm="column" layout-xs="column">
<md-button ng-click="deleteAccount()" flex class="md-warn">
Delete Account
</md-button>
</span>