<md-content layout-fill layout="column">
    <h1 class="md-display-1">Advanced</h1>
    <span layout="row" class="md-block" layout-align="stretch" layout-md="column" layout-sm="column"
          layout-xs="column">
                <md-button ng-click="requestData()" disabled flex class="md-primary">
                Download Account Data (Unavailable)
                </md-button>
                </span>
    <span layout="row" class="md-block" layout-align="stretch" layout-md="column" layout-sm="column"
          layout-xs="column">
                <md-button ng-click="deleteAccount()" flex class="md-warn">
                Delete Account
                </md-button>
                            </span>
</md-content>