<h4 class="md-headline">It seems we need some more information...</h4>
<h4 class="md-subhead"><b>Choose the accounts/pages</b> you want to add from the list below...</h4>
<form method="post" id="choose_account">
    <md-input-container class="md-block md-primary"  ng-repeat="page in newPage.pages">
        <md-checkbox class="md-primary" name="{{page.name}}" ng-model="newPage.chosen[page.id]">
            {{ page.name }}
        </md-checkbox>
    </md-input-container>
    <div layout="column" layout-align="stretch">
        <md-button type="submit" class="md-primary md-raised" ng-click="submitExtras()">Apply
        </md-button>
    </div>
</form>
