<md-content layout="row" class="tutorial-step-add-pages">
    <md-fab-speed-dial md-direction="right"
                       class="md-scale">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon>add</md-icon>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <md-button ng-click="addSocialAccount($event, platformDetails.id); nextStep();"
                       ng-repeat="platformDetails in socialPlatformDetails"
                       class="md-fab md-raised md-mini ui-social ui-{{platformDetails.shortname}}"
                       aria-label=platform>
                <i class="zmdi zmdi-{{platformDetails.shortname}}"></i>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</md-content>

<div layout="row" layout-wrap>
    <div layout="column" ng-repeat="socialPage in connectedAccounts" flex="100" flex-gt-md="33">
            <md-card>
                <div layout="row">
                    <div class="md-toolbar-tools">
                        <md-button
                                class="md-fab md-mini ui-social ui-{{socialPlatforms[socialPage.platform].id}}"
                                aria-label=platform>
                            <i class="zmdi zmdi-{{socialPlatforms[socialPage.platform].id}}"></i>
                        </md-button>
                        <span ng-bind="socialPage.name"></span>
                    </div>
                </div>


                <md-card-title>
                    <md-card-title-text>
                        <p>Updated at {{socialPage.statistic.updated_at | date}}</p>

                        <md-card-actions layout="row" layout-align="start">
                            <span flex class="text-center">
                            <md-button class="md-icon-button" aria-label="Posts">
                                <md-tooltip md-direction="top">Posts</md-tooltip>
                                <i class="material-icons">speaker_notes</i>
                            </md-button>
                                <br>
                                {{socialPage.statistic.posts.total}}
                            </span>

                            <span flex ng-if="socialPage.statistic.views.total >= 0" class="text-center">
                                <md-button class="md-icon-button" aria-label="Impressions">
                                    <md-tooltip md-direction="top">Impressions</md-tooltip>
                                    <i class="material-icons">remove_red_eye</i>
                                </md-button>
                                <br>
                                {{socialPage.statistic.views.total}}
                            </span>

                            <span flex ng-if="socialPage.statistic.views.unique >= 0" class="text-center">
                            <md-button class="md-icon-button" aria-label="Unique Views">
                                <md-tooltip md-direction="top">Unique Views</md-tooltip>
                                <i class="material-icons">people</i>
                            </md-button>
                                <br>
                                {{socialPage.statistic.views.unique}}
                            </span>

                            <span flex ng-if="socialPage.statistic.likes.total >= 0" class="text-center">
                            <md-button class="md-icon-button" aria-label="Fans">
                                <md-tooltip md-direction="top">Fans</md-tooltip>
                                <i class="material-icons">thumb_up</i>
                            </md-button>
                                <br>
                                {{socialPage.statistic.likes.total}} {{socialPage.statistic.likes.new > 0 ? '(+' + socialPage.statistic.likes.new + '))' : ''}}
                            </span>
                        </md-card-actions>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row">
                    <md-button class="md-primary" ng-click="refreshSocialAccount(socialPage._id)">Refresh Stats</md-button>
                    <span flex></span>
                    <md-button class="md-warn" ng-click="removeSocialAccount(socialPage._id)">Deactivate</md-button>
                </md-card-actions>
            </md-card>
    </div>
</div>