<div ng-mouseleave="toggle_add = false">
    <md-button ng-mouseenter="toggle_add = true" class="md-fab md-primary ui-social"
               aria-label="Add new platform">
        <i class="zmdi zmdi-account-add"></i>
    </md-button>
    <span ng-show="toggle_add">
    <md-button ng-click="addSocialAccount($event, platformDetails.id)"
               ng-repeat="platformDetails in socialPlatformDetails"
               class="md-fab ui-social ui-{{platformDetails.shortname}}"
               aria-label=platform>
        <i class="zmdi zmdi-{{platformDetails.shortname}}"></i>
    </md-button>
        </span>
</div>

<div layout="row" layout-wrap>
    <div layout="column" ng-repeat="socialPage in connectedAccounts" flex="100" flex-gt-md="33">
            <md-card>
                <div layout="row">
                    <div class="md-toolbar-tools">
                        <md-button
                                class="md-fab md-mini ui-social ui-{{socialPlatforms[socialPage.platform].id}}"
                                aria-label=platform>
                            <i class="zmdi zmdi-{{socialPlatforms[socialPage.platform].id}}"></i>
                        </md-button>
                        <span ng-bind="socialPage.name"></span>
                    </div>
                </div>


                <md-card-title>
                    <md-card-title-text>
                        <md-card-actions layout="row" layout-align="start">

                            <span flex class="text-center">
                            <md-button class="md-icon-button" aria-label="Posts">
                                <md-tooltip md-direction="top">Posts</md-tooltip>
                                <i class="material-icons">speaker_notes</i>
                            </md-button>
                                <br>
                                {{socialPage.statistic.posts.total}}
                            </span>

                            <span flex ng-if="socialPage.statistic.views.total != -1" class="text-center">
                                <md-button class="md-icon-button" aria-label="Impressions">
                                    <md-tooltip md-direction="top">Impressions</md-tooltip>
                                    <i class="material-icons">remove_red_eye</i>
                                </md-button>
                                <br>
                                {{socialPage.statistic.views.total}}
                            </span>

                            <span flex ng-if="socialPage.statistic.views.unique != -1" class="text-center">
                            <md-button class="md-icon-button" aria-label="Unique Views">
                                <md-tooltip md-direction="top">Unique Views</md-tooltip>
                                <i class="material-icons">people</i>
                            </md-button>
                                <br>
                                {{socialPage.statistic.views.unique}}
                            </span>

                            <span flex ng-if="socialPage.statistic.likes != -1" class="text-center">
                            <md-button class="md-icon-button" aria-label="Fans">
                                <md-tooltip md-direction="top">Fans</md-tooltip>
                                <i class="material-icons">thumb_up</i>
                            </md-button>
                                <br>
                                {{socialPage.statistic.likes.total}} {{socialPage.statistic.likes.new > 0 ? '(+' + socialPage.statistic.likes.new + '))' : ''}}
                            </span>
                        </md-card-actions>
                        <!--<span ng-if="socialPage.statistic" class="text-center">-->
                        <!--<strong><i class="material-icons">speaker_notes</i>{{socialPage.statistic.posts}}</strong>-->

                        <!--<span ng-if="socialPage.statistic.impressions != -1">-->
                        <!--<strong>-->
                        <!--<i class="material-icons">remove_red_eye</i>-->
                        <!--{{socialPage.statistic.impressions}}-->
                        <!--</strong>-->
                        <!--</span>-->
                        <!--<span ng-if="socialPage.statistic.unique_views != -1">-->
                        <!--<strong>-->
                        <!--<i class="material-icons">people</i>-->
                        <!--{{socialPage.statistic.unique_views}}-->
                        <!--</strong>-->
                        <!--</span>-->

                        <!--<span ng-if="socialPage.statistic.fans != -1">-->
                        <!--<strong>-->
                        <!--<i class="material-icons">people</i>-->
                        <!--{{socialPage.statistic.fans}}-->
                        <!--</strong> {{socialPage.statistic.new_likes > 0 ? '(+' + socialPage.statistic.new_likes + '))' : ''}}-->
                        <!--</span>-->
                        <!--</span>-->
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row">
                    <md-button class="md-primary">Refresh Stats</md-button>
                    <span flex></span>
                    <md-button class="md-warn" ng-click="removeSocialAccount(socialPage._id)">Deactivate</md-button>
                </md-card-actions>
            </md-card>
    </div>
</div>