<h1 class="page-header">Social Posts
    <small>Upcoming content to be posted</small>
</h1>
<md-button ng-click="addPost($event)" class="md-fab md-primary" aria-label="New Social Post">
    <md-icon md-font-library="material-icons">add</md-icon>
</md-button>
<calendar-md layout flex layout-fill
             on-prev-month="prevMonth"
             on-next-month="nextMonth"
             on-day-click="dayClick"
             template-url="'/pub/portal/schedule/template.html'"
             title-format="'MMMM y'"
             ng-social-posts="allSocialPosts"
             ng-model='selectedDate'
             week-starts-on="monday"
             tooltips="true"
             ng-platforms="platforms"
             day-format="dayFormat"
             day-label-format="'EEE'"
             day-label-tooltip-format="'EEEE'"
             day-tooltip-format="'fullDate'"
             day-content="setDayContent"
             disable-future-selection="false"></calendar-md>
