<h1 class="page-header">Tools (Unavailable)</h1>
Try some of our free tools to analyse your social media page and progress... Get full access and more to these tools when you sign up!
<br>


<span layout-wrap layout="row" layout-align="center">
    <md-card ng-click="null " class="md-whiteframe-3dp" flex="100" flex-gt-md="30">
        <md-toolbar layout="row" class="md-primary">
            <div class="md-toolbar-tools text-center">
                <span flex>Brand Search</span>
            </div>
        </md-toolbar>
        <span class="md-padding text-center">
             Our public-curated list shows you which social media pages or links are for each brand.
            <a ng-click="null">Want to register your brand? Click here.</a>
        </span>
    </md-card>

    <md-card ng-click="null" class="md-whiteframe-3dp" flex="100" flex-gt-md="30">
        <md-toolbar layout="row" class="md-primary">
            <div class="md-toolbar-tools text-center">
                <span flex>Page Search</span>
            </div>
        </md-toolbar>
        <span class="md-padding text-center">
            Want to find out all the pages that belong to a certain brand/company? Our public-curated list shows you which pages are for each user.
        </span>
    </md-card>

    <md-card ng-click="null" class="md-whiteframe-3dp" flex="100" flex-gt-md="30">
        <md-toolbar layout="row" class="md-primary">
            <div class="md-toolbar-tools text-center">
                <span flex>Page Statistics</span>
            </div>
        </md-toolbar>
        <span class="md-padding text-center">
            Start or continue monitoring a new social media page. Get public insights such as fans and recent posts.
        </span>
    </md-card>

    <md-card ng-click="null" class="md-whiteframe-3dp" flex="100" flex-gt-md="30">
        <md-toolbar layout="row" class="md-primary">
            <div class="md-toolbar-tools text-center">
                <span flex>Page Vs. Page</span>
            </div>
        </md-toolbar>
        <span class="md-padding text-center">
            Compare two social media pages see which page has better progress.
        </span>
    </md-card>


    <md-card ng-click="null" class="md-whiteframe-3dp" flex="100" flex-gt-md="33">
        <md-toolbar layout="row" class="md-primary">
            <div class="md-toolbar-tools text-center">
                <span flex>Brand Vs. Brand</span>
            </div>
        </md-toolbar>
        <span class="md-padding text-center">
            Compare two brands to see which.
        </span>
    </md-card>
</span>