<md-dialog aria-label="Conversation Details" md-theme="{{theme}}" flex="70">
    <md-toolbar>
        <div class="md-toolbar-tools">

            <h1 flex>Conversation Details</h1>
            <md-chips>
                <md-chip>Beta</md-chip>
            </md-chips>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="zmdi zmdi-close zmdi-hc-2x"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-card>
        <div layout="row" layout-align="center center">
            <img ng-src="{{socialPage.profile_src}}" class="mini-profile-image"/>
            <span class="md-padding" ng-bind="'Replying as ' + socialPage.name" flex></span>
        </div>
        <md-content>
            <md-list class="md-dense">
                <md-list-item class="md-2-line"
                              ng-repeat="socialComment in socialComments"
                              ng-include="'commentChildrenTree'">
                </md-list-item>
            </md-list>
        </md-content>
    </md-card>
</md-dialog>