<md-dialog aria-label="Conversation Details" class="md-card" md-theme="{{theme}}" flex="70">
    <div layout="row" layout-align="start center">
        <social-page-avatar social-page="socialPage" platforms="platforms"></social-page-avatar>
        <span class="md-padding" ng-bind="'Replying as ' + socialPage.name" flex></span>
    </div>
    <md-content>
        <md-list class="md-dense">
            <md-list-item class="md-2-line"
                          ng-repeat="socialComment in socialComments"
                          ng-include="'commentChildrenTree'">
            </md-list-item>
        </md-list>
    </md-content>
</md-dialog>