<md-content layout-fill layout="column">
<md-button class="md-warn md-raised" ng-click="return()">
    Return
</md-button>
<label>
    <div layout="row" layout-padding layout-wrap>
        <md-whiteframe
                ng-repeat="socialPost in socialPosts" ng-click="loadPageStatistics(socialPost)"
                class="md-whiteframe-1dp ui-social ui-{{platforms[socialPost.page_id.platform].id}} page-select"
                flex-sm="100" flex-xs="100" flex-gt-sm="25" flex-gt-md="20" layout layout-align="center center">
            <!--<md-tooltip md-direction="down"></md-tooltip>-->
            <div class="text-center" layout="column">
                <i class="zmdi zmdi-{{platforms[socialPost.page_id.platform].id}}"></i>

                <small ng-bind="socialPost.page_id.name"></small>
            </div>
        </md-whiteframe>
    </div>
</label>
    <md-tabs flex>

        <md-tab label="Unique Visitors" md-on-select="openStat = 'visitors';">
            <md-content class="md-padding" layout="column" layout-fill>
                <div layout="row" flex="noshrink"  layout-align="start center">
                    <h1 class="md-display-1" flex>Unique Visitors</h1>
                    <md-chips>
                        <md-chip>Beta</md-chip>
                    </md-chips>
                </div>
                <div layout-padding layout="row" flex="noshrink" layout-align="center center">
                    <canvas id="visitorsChart" flex="100" flex-gt-lg="60" layout="column"></canvas>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Likes" md-on-select="openStat = 'likes';">
            <md-content class="md-padding" layout="column" layout-fill>
                <div layout="row" flex="noshrink"  layout-align="start center">
                    <h1 class="md-display-1" flex>Likes</h1>
                    <md-chips>
                        <md-chip>Beta</md-chip>
                    </md-chips>
                </div>
                <div layout-padding layout="row" flex="noshrink" layout-align="center center">
                    <canvas id="likesChart" flex="100" flex-gt-lg="60" layout="column"></canvas>
                </md-content>
        </md-tab>
    </md-tabs>
</md-content>
<!--<div class="md-block" layout="column">-->
    <!--<canvas id="visitorsChart"></canvas>-->
<!--</div>-->
<!--<div class="md-block" layout="column">-->
    <!--<canvas id="likesChart"></canvas>-->
<!--</div>-->