<div layout="row" layout-align="start center">
    <h1 class="page-header" flex>Schedule a post...</h1>
    <md-chips>
        <md-chip>Beta</md-chip>
    </md-chips>
</div>

<div layout="row">
    <div flex-gt-lg="70" flex-offset-gt-lg="15" flex="70" flex-offset="15" flex-gt-xs="90" flex-offset-gt-xs="5">

        <div class="tutorial-step-schedule-add-post-step-1">
            <label>
                <span class="posting_step">Step 1</span>
                <h2>
                    <small>Select your pages</small>
                </h2>
            </label>
            <div layout="row" layout-padding layout-wrap>
                <md-whiteframe
                        ng-repeat="stackInfo in allStacks" ng-click="chooseStack(stackInfo._id); nextStep();"
                        class="md-whiteframe-1dp ui-social ui-other page-select"
                        ng-class="currentSocialPost.stacks.indexOf(stackInfo._id) != -1 ? 'ui-social-active' : ''"
                        flex-sm="100" flex-xs="100" flex-gt-sm="25" flex-gt-md="20" layout layout-align="center center">
                    <!--<md-tooltip md-direction="down"></md-tooltip>-->
                    <div class="text-center" layout="column">
                        <i class="zmdi zmdi-group"></i>
                        <small ng-bind="stackInfo.name"></small>
                    </div>
                </md-whiteframe>

                <md-whiteframe
                        ng-repeat="pageInfo in allPages" ng-click="choosePage(pageInfo._id); nextStep();"
                        class="md-whiteframe-1dp ui-social ui-{{pageInfo.platform != null ? platforms[pageInfo.platform].id : 'other'}} page-select"
                        ng-class="currentSocialPost.pages.indexOf(pageInfo._id) != -1 ? 'ui-social-active' : ''"
                        flex-sm="100" flex-xs="100" flex-gt-sm="25" flex-gt-md="20" layout layout-align="center center">
                    <!--<md-tooltip md-direction="down"></md-tooltip>-->
                    <div class="text-center" layout="column">
                        <i class="zmdi zmdi-{{platforms[pageInfo.platform].id}}"></i>
                        <small ng-bind="pageInfo.name"></small>
                    </div>
                </md-whiteframe>
            </div>
        </div>
        <div class="tutorial-step-schedule-add-post-step-2">
            <label>
                <span class="posting_step">Step 2</span>
                <h2>
                    <small>Choose your content</small>
                </h2>
            </label>
            <md-input-container class="md-block">
                <label>Post Content</label>
                <textarea ng-model="currentSocialPost.content" md-maxlength="currentSocialPost.maxLength" rows="3"
                          md-select-on-focus></textarea>
            </md-input-container>
            <span layout="column" class="md-block" layout-align="stretch">
                <span layout="row" class="md-block" layout-align="stretch">
                    <p ng-if="hashtags != null">Recommended:</p>
                    <md-chips>
                      <md-chip ng-repeat="hashtag in hashtags" ng-show="hashtag.priority">#{{hashtag.hashtag}}</md-chip>
                    </md-chips>
                </span>
                <span layout="row" flex class="md-block" layout-align="stretch">
                    <p ng-if="hashtags != null">Optional:</p>
                    <md-chips>
                      <md-chip ng-repeat="hashtag in hashtags" ng-hide="hashtag.priority">#{{hashtag.hashtag}}</md-chip>
                    </md-chips>
                </span>
                <span layout="column" layout-gt-md="row">
                    <md-button ng-disabled="hashtag_lookups >= permissions.hashtag_lookups" ng-click="getHashtags(currentSocialPost.content, false);" flex class="md-primary md-raised">
                        + Suggest Hashtags
                    </md-button>
                    <md-button ng-disabled="hashtag_lookups >= permissions.hashtag_lookups" ng-click="getHashtags(currentSocialPost.content, true);" flex="20" ng-if="hashtags != null" class="md-primary">
                        Force Refresh ({{hashtag_lookups}}/{{permissions_limits.hashtag_lookups}})
                    </md-button>
                </span>
                <span layout="column" >
                    <md-button flex href="/portal/billing" ng-if="hashtag_lookups >= permissions_limits.hashtag_lookups && permissions_limits.hashtag_lookups != -1" class="md-secondary md-raised">
                        Upgrade for more lookups
                    </md-button>
                </span>
            </span>
        </div>
        <div class="tutorial-step-schedule-add-post-step-3">
            <label>
                <span class="posting_step">Step 3</span>
                <h2>
                    <small>Attach images</small>
                </h2>
            </label>

            <image-uploader post_information="currentSocialPost" pending_image="attachedImage" control="view"
                            post_id="postId" uploading="uploading" images="currentSocialPost.images"></image-uploader>
        </div>

        <div class="tutorial-step-schedule-add-post-step-4">
            <label>
                <span class="posting_step">Step 4</span>
                <h2>
                    <small>Choose your time</small>
                </h2>
            </label>
            <div
                    moment-picker="currentSocialPost.dateString"
                    selectable="validateTime(date, type)"
                    ng-model="currentSocialPost.date"
                    format="LLL"
                    min-view="month"
                    start-view="hour"
                    today="true"
                    keyboard="true"
                    inline="true"
                    set-on-select="true">
            </div>
        </div>
        <span layout="row" class="md-block" layout-align="stretch" layout-md="column" layout-sm="column"
              layout-xs="column">
    <md-button flex-xs="100" flex-sm="100" flex-md="100" md-no-ink type="submit" class="md-warn" ng-click="cancel()">
        Cancel
    </md-button>
    <md-button flex="{{postId != null ? 20 : 0}}" flex-xs="100" flex-sm="100" flex-md="100" md-no-ink type="submit"
               ng-if="currentSocialPost.state == 'DRAFT' || currentSocialPost.state == 'ACTIVE'" class="md-warn"
               ng-click="secondaryAction()">
        {{currentSocialPost.state == 'DRAFT' ? 'Delete' : 'Draft'}}
    </md-button>
    <md-button flex flex-xs="100" flex-sm="100" flex-md="100" type="submit" class="md-primary md-raised"
               ng-click="submitPost(false)">
        Post {{ currentSocialPost.dateString != null ? '@ ' + currentSocialPost.dateString : 'Now' }}
    </md-button>
</span>


    </div>
    <div flex>
    </div>
</div>
