<md-button ng-click="addPost();" class="md-fab md-primary page-button" aria-label="New Social Post">
    <i class="zmdi zmdi-plus zmdi-hc-2x"></i>
</md-button>
<h2>Calendar</h2>
<hr class="hr"/>

<span class="md-padding" layout="column">
    <calendar-md layout="column"
                 on-prev-month="prevMonth"
                 on-next-month="nextMonth"
                 on-day-click="dayClick"
                 title-format="'MMMM y'"
                 ng-social-posts="allActivePosts"
                 ng-model='selectedDate'
                 week-starts-on="monday"
                 tooltips="true"
                 ng-platforms="platforms"
                 day-format="dayFormat"
                 day-label-format="'EEE'"
                 day-label-tooltip-format="'EEEE'"
                 day-tooltip-format="'fullDate'"
                 day-content="setDayContent"
                 disable-future-selection="false"></calendar-md>
</span>