<md-card class="md-whiteframe-3dp" layout="column" ng-if="enabledCard['f_analysis_gender']">
    <md-subheader class="md-primary text-center">Fans Analysis (Gender)</md-subheader>
    <span class="md-padding text-center" ng-if="!loadedCard['f_analysis_gender']">
        <h3>Loading data...</h3>
        <md-button disabled flex>
            <i class="zmdi continious_rotation zmdi-refresh-sync md-padding zmdi-hc-5x"></i>
        </md-button>
    </span>
    <span class="md-padding" ng-show="loadedCard['f_analysis_gender']">
        <canvas flex id="audienceGenderChart" flex-grow style="min-height: 200px !important;"
                layout="row"></canvas>
    </span>
</md-card>