<h2>Page Statistics</h2>
<hr class="hr"/>
<h3>Choose a page to view statistics for:</h3>
<div layout="row" layout-padding layout-wrap layout-align="center center">
    <a ng-repeat="socialPage in socialPages" href="/statistics/{{socialPage._id}}"
            class="md-whiteframe-1dp ui-social ui-{{platforms[socialPage.platform].id}} page_card"
            flex-sm="100" flex-xs="100" flex-gt-sm="20" flex-gt-md="20" layout layout-align="space-around center">
        <!--<md-tooltip md-direction="down"></md-tooltip>-->
        <div class="text-center" layout="column">
            <i class="zmdi zmdi-{{platforms[socialPage.platform].id}}"></i>

            <small ng-bind="socialPage.name"></small>
        </div>
    </a>
</div>