<!--<md-dialog aria-label="Social Stack" class="md-content" md-theme="{{theme}}" flex="40">-->
    <!--<div layout="row" class="md-subheader md-whiteframe-3dp md-padding" layout-align="center center">-->
        <!--<span class="md-padding" flex>Add a Team Member</span>-->
        <!--<md-button class="md-icon-button" ng-click="cancel()">-->
            <!--<i class="zmdi zmdi-close zmdi-hc-2x"></i>-->
        <!--</md-button>-->
    <!--</div>-->
    <!--<div class="md-padding">-->
        <!--<span>Enter below the email address of the user you wish to invite to your team. They will be emailed an invite link so that they may complete their registration and sign in.</span>-->
        <!--<div class="animate-switch-container" ng-switch on="registerLoading" ng-animate="'animate'">-->
            <!--<div class="animate-switch" ng-switch-when="true" layout="column">-->
                <!--<h1 class="text-center">Registering...</h1>-->
                <!--<div class="md-padding">-->
                    <!--<div class="hr-both"></div>-->
                <!--</div>-->
                <!--<md-button disabled flex>-->
                    <!--<i class="zmdi continious_rotation zmdi-refresh-sync md-padding zmdi-hc-5x"></i>-->
                <!--</md-button>-->
                <!--<br>-->
                <!--<div class="text-center">-->
                    <!--Is it taking a while? <a ng-click="cancelLogin()">Click here to cancel.</a>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="animate-switch" ng-switch-default>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</md-dialog>-->
