<div layout="row">
    <div flex flex-offset-sm="0" flex-offset-gt-sm="30">
        <h1>Register
            <small>to get access to all features!</small>
        </h1>
        <div ng-include="'/pub/public/auth/register/registerFocus.html'"></div>
    </div>
    <div flex-gt-sm="30"></div>
</div>