<form name="register" method="post">
    <div class="text-center">
        Already have an account? <a class="md-primary" href="/login"><strong>Click here.</strong></a>
    </div>
    <md-input-container class="md-block">
        <label>Email Address</label>
        <input name="email" ng-model="email" required type="email">
        <div ng-messages="register.email.$error">
            <div ng-message="email">The email must be in valid format.</div>
        </div>
    </md-input-container>


    <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" ng-model="password" required name="password">
        <div class="hint">Choose a unique password.</div>
    </md-input-container>
    <md-input-container class="md-block">
        <label>Verify Password</label>
        <input type="password" ng-pattern="password" required ng-model="verify_password" name="verify_password">
        <div class="hint">Retype your password</div>
        <div ng-messages="register.verify_password.$error">
            <div ng-message="pattern">The passwords must be the same.</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block">
        <md-input-container class="md-block">
            <md-checkbox class="md-primary" ng-model="toc" required name="toc">
                I Agree to Terms and Conditions
            </md-checkbox>
            <div ng-messages="register.toc.$error">
                <div ng-message="required">You must accept the terms and conditions to sign up.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <md-checkbox class="md-primary" ng-model="mailing_list" name="mailing_list">
                I am interested in updates by SocialIgnite - We won't spam :)
            </md-checkbox>
        </md-input-container>
    </md-input-container>

    <div layout="column" layout-align="stretch">
        <md-button type="submit" class="md-primary md-raised" ng-click="registerForm(register)">Register</md-button>
    </div>
</form>