<div layout="column" class="md-padding" ng-init="filterName = {}">
    <span ng-if="socialPages.length > 4">
        <md-input-container flex class="md-block">
            <!-- Use floating label instead of placeholder -->
            <md-icon class="zmdi zmdi-search zmdi-hc-lg"></md-icon>
            <input ng-model="filterName.name" placeholder="Search accounts by name"
                   type="text">
        </md-input-container>
    </span>
    <md-list style="max-height: 200px; overflow-y: auto;">
        <md-list-item ng-repeat="pageInfo in filteredPages = (socialPages | filter: filterName) "
                      ng-click="togglePage(pageInfo._id);">
            <!--<md-button-->
            <!--class="md-fab md-mini ui-social ui-{{platforms[pageInfo.platform].id}}"-->
            <!--aria-label=platform>-->
            <!--<md-tooltip md-direction="top"-->
            <!--ng-bind="platforms[pageInfo.platform].id"></md-tooltip>-->
            <!--<i class="zmdi zmdi-{{platforms[pageInfo.platform].id}}"></i>-->
            <!--</md-button>-->
            <social-page-avatar social-page="pageInfo" platforms="platforms"></social-page-avatar>


            <md-truncate flex><small>{{ pageInfo.name }}</small></md-truncate>
            <md-checkbox class="md-primary"
                         ng-checked="selected.indexOf(pageInfo._id) != -1"></md-checkbox>
        </md-list-item>
        <md-list-item ng-if="filteredPages.length == 0">
            <span class="text-center">
                No pages were found.
            </span>
        </md-list-item>
    </md-list>
</div>