<span class="social-page-avatar">
    <span layout="row" ng-if="socialPage.profile_src != null">
        <i class="zmdi zmdi-{{platforms[socialPage.platform].id}}" style="top: 3px !important; left: -3px; position: relative;"></i>
        <img ng-src="{{socialPage.profile_src}}" class="mini-profile-image"/>
    </span>

    <span layout="row" ng-if="socialPage.profile_src == null">
        <md-button
                class="md-fab md-mini ui-social ui-{{platforms[socialPage.platform].id}}"
                aria-label=platform>
            <md-tooltip md-direction="top" ng-bind="platforms[socialPage.platform].id"></md-tooltip>
            <i class="zmdi zmdi-{{platforms[socialPage.platform].id}}"></i>
        </md-button>
    </span>
</span>