<!--<div class="parent_step">-->

<!--</div>-->

<md-content layout="row" class="obscure darken_text" >
    <span flex></span>
    <h2 layout-align="center center">{{activeDescription}}</h2>
    <span flex></span>
</md-content>


<div class="obscure darken_top"></div>
<div class="obscure darken_right"></div>
<div class="obscure darken_bottom"></div>
<div class="obscure darken_left"></div>

