<!--<div class="parent_step">-->

<!--</div>-->

<div class="obscure darken_text">
    <h2 layout-align="center center">{{activeDescription}}</h2>
</div>

<div class="obscure darken_top"></div>
<div class="obscure darken_right"></div>
<div class="obscure darken_bottom"></div>
<div class="obscure darken_left"></div>

