@import 'variables';
@import '_colors';
@import 'material-design-iconic-font/less/material-design-iconic-font';
@import 'datepicker/index';
@import 'datepicker/material-ui';
@import 'material-angular/angular-material';
@import 'material-table/md-table';

@mdb-input-placeholder-color: #000;

@font-family-sans-serif: 'Roboto', 'Helvetica', 'Arial', sans-serif;
@headings-font-weight: 300;

.text_shadow(@color, @radius) {
  text-shadow: 0 0 @radius @color;
}

/*
    Horizontal Rule
*/
div > .hr {
  height: 1px;
  width: 80%;
}

.nolink, .nolink:hover, .nolink:active {
  text-decoration: none;
  color: inherit;
}

.fixed-menu-margin {
  height: 75px;
}

.padding-top {
  padding-top: 25px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: @gray-lighter;
}

::-webkit-scrollbar-thumb {
  background: @primary;
}

.ui-social {
  color: #fff !important;
  font-size: 30px;
}

.md-mini {
  font-size: 20px;
}

.ui-facebook {
  background: #3b5998 !important;
}

.ui-white {
  border: solid @gray-lighter 2px;
  color: @gray-dark;
  background: white !important;
}

.ui-twitter {
  background-color: #1DA1F3 !important;
}

.ui-pinterest {
  background-color: #BD081C !important;
}

.ui-google-plus {
  background-color: #DC4A38 !important;
}

.ui-instagram {
  background-color: #1D1B1C !important;
}

.ui-linkedin {
  background-color: #007BB6 !important;
}

.ui-other {
  background-color: @gray-dark !important;
}

.ui-social-active {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -o-filter: brightness(0.6);
}

//.md-menu .md-button {
//  background: @primary;
//  color: white;
//}

//.md-nav-bar .md-nav-item:hover {
//  border-bottom: rgba(255, 255, 255, 0.7) 2px solid;
//  padding-bottom: 3px;
//}

//.md-nav-bar .md-active {
//  background: @primary;
//  border-bottom: white 2px solid;
//  padding-bottom: 3px;
//}

//button .md-focused {
//  background: @primary;
//}




.white {
  color: @white;
}
.red {
  color: @red-500;
}

.social-post-archive {
  color: @gray-dark;
  font-size: 14px !important;
}

.disabled-social-post {
  background: rgba(0, 0, 0, .1);

}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
//.material-icons.md-dark {
//  color: rgba(0, 0, 0, 0.54);
//}
//
//.material-icons.md-dark.md-inactive {
//  color: rgba(0, 0, 0, 0.26);
//}
//
///* Rules for using icons as white on a dark background. */
//.material-icons.md-light {
//  color: rgba(255, 255, 255, 1);
//}
//
//.material-icons.md-light.md-inactive {
//  color: rgba(255, 255, 255, 0.3);
//}

.md-toolbar-tools {
  font-size: 17px;

}

.md-success {
  background-color: #4CAF50 !important;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: @font-family-sans-serif;
  font-weight: 300;
}

h5, h6 {
  font-weight: 400;
}

strong {
  font-weight: 500;
}

a, a:hover, a:focus {
  color: @gray-dark;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

div > .ng-hide-add {
  animation: 0.5s lightSpeedOut ease;
}

div > .ng-hide-remove {
  animation: 0.5s lightSpeedIn ease;
}

.md-toast-animating {
  overflow: initial !important;
}

.warn, .info, .success {
  position: fixed;
}

.warn > div {
  background: #FF5722 !important;
  color: white;
}

.info > div {
  background: @primary !important;
  color: white;
}

.success > div {
  background-color: #4CAF50 !important;
  color: white;
}



/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* light speed in */
@keyframes lightSpeedIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body > .inner {
  display: none;
}

body.pg-loaded > .inner {
  display: block;
}

.sk-cube-grid {
  width: 80px;
  height: 80px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #3FA9F5;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.mini-dot {
  width: 7px;
  //content: normal;
  height: 7px;
  padding: 3px;
  margin: 2px;
  display: block;
  border-radius: 50%;
}

.logo-icon {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(icons/flame.svg);
  background-size: 100px 82px;
}

.md-calendar-social-post {
  padding: 10px;
  cursor: pointer;

}

.md-calendar-time {
  font-size: 14px;
}

.md-calendar-social-post-content-quote {
  font-size: 30px;
  margin-top: -10px;
  margin-left: -10px;
  padding-right: 10px;
}

.md-calendar-social-post-content {
  padding: 10px;
}

.active_like {
  color: @primary;
}

.gray_text {
  color: @gray-light;
}

.horizontal-three-colors(@start-color: #00b3ee;  @mid-color: #7a43b6;  @color-stop: 50%;  @end-color: #c3325f) {
  background-image: -webkit-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
  background-image: -o-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
  background-image: linear-gradient(to right, @start-color, @mid-color @color-stop, @end-color);
  background-repeat: no-repeat;
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)", argb(@start-color), argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
}

.hr {
  margin: 3px;
  .horizontal-three-colors(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1), 50%, transparent);
  height: 1px;
  width: 80%;
}

.md-calendar-social-post-content .text {
  font-size: 16px;
}

.md-agenda-time {
  padding: 10px;
  font-size: 14px;

}

calendar-md md-content > md-content.agenda > * > * :not(:first-child), calendar-md md-content > md-content.calendar > :not(:first-child) > * :last-child {
  overflow: hidden;
  text-overflow: ellipsis
}

calendar-md {
  display: block;
  max-height: 100%;
  cursor: pointer !important;


}

calendar-md .md-toolbar-tools h2 {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

calendar-md md-content > md-content {
  border: 1px solid rgba(0, 0, 0, .12)
}

calendar-md md-content > md-content.agenda > * > * {
  border-bottom: 1px solid rgba(0, 0, 0, .12)
}

calendar-md md-content > md-content.agenda > * > .disabled {
  color: rgba(0, 0, 0, .3);
  pointer-events: none;
}

calendar-md md-content > md-content.agenda > * > * {
  padding: 12px;
  text-align: right;
  font-weight: 100;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

calendar-md md-content > md-content > * > * {
  min-width: 48px
}

calendar-md md-content > md-content.calendar > :first-child {
  background: rgba(0, 0, 0, .02);
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  margin-right: 0;
  min-height: 36px;
}

calendar-md md-content > md-content.calendar > :not(:first-child) > * {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  border-right: 1px solid rgba(0, 0, 0, .12);
}

calendar-md md-content > md-content.calendar > :not(:first-child) > :hover {
  background: rgba(0, 0, 0, .02);

}

calendar-md md-content > md-content.calendar > :not(:first-child) > .disabled {
  color: rgba(0, 0, 0, .3);
  pointer-events: none;
}

calendar-md md-content > md-content.calendar > :not(:first-child) > .active {
  //box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
  background: rgba(0, 0, 0, .02);
}

.ScheduleStepByStep {
  color: @gray-dark;
  padding: 10px;
}

.dashboard-feed-content {

}

.dashboard-feed-header > small {
  margin-top: -15px;
}

.dashboard-feed-header {
  margin-top: 15px;
}

.dashboard_comment {
  text-align: left;
}


.sub_comment {
  padding-left: 10px;
  border-left: 5px solid;
}

//.page_comment {
//  //color: @primary;
//}

.md-tooltip {
  height: auto;
}

.page-select {
  cursor: pointer;
  margin: 3px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  width: 100px;
  height: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-select:focus {
  outline:none
}

md-icon:focus {
  outline:none
}

.page-select > div > small {
  font-size: @font-size-large;
}

.posting_step {
  margin-left: -50px;
  text-decoration: underline;
}

.resource-card {
  height: 100%;
  width: 100%;
}
.md-card-image {

}




/* light speed out */
@keyframes transparentOut {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.7;
  }
}

/* light speed in */
@keyframes transparentIn {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.9;
  }
}


.resource-select {
  cursor: pointer;
  margin: 3px;
  height: 100%;
  width: 100%;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  white-space: nowrap;
  //overflow: hidden;
  text-overflow: ellipsis;

  .transparent-black {
    //background: rgba(0, 0, 0, 0.5);
    opacity: 0.7;
    animation: 0.5s transparentOut ease;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white !important;
  }

}

.resource-select:hover {
  .transparent-black {
    //background: rgba(0, 0, 0, 0.7);
    //opacity: 0.5;
    opacity: 0.9;
    animation: 0.5s transparentIn ease;
  }
}

.image-dragdropzone {
  cursor: pointer;
  border: 3px dotted @gray-light;
  min-height: 100px;
  padding: 20px;
}


.package-card, .package-card:hover{
  cursor: pointer;
}


.image-used {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -o-filter: brightness(0.6);
}

.md-transparent {
  background-color: transparent !important;
}



/**
HotFix for Icon Sizing
 */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; height: 18px; width: 18px; }
.material-icons.md-24 { font-size: 24px; height: 24px; width: 24px; }
.material-icons.md-36 { font-size: 36px; height: 36px; width: 36px; }
.material-icons.md-48 { font-size: 48px; height: 48px; width: 48px; }

.obscure {
  position: absolute;
  background-color: rgba(0,0,0,.7);
  margin: 0; padding: 0;
}

.darken_left{
  z-index: 999;
  position: fixed;
  left:0;
  top: 0;
  bottom: 0;
}
.darken_right{
  z-index: 999;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;

}
.darken_top{
  z-index: 999;
  position: fixed;
  top: 0;
}
.darken_text {
  background-color: rgba(0,0,0,0);
  z-index: 1000 !important;
  position: fixed;
  margin: 0; padding: 0;
  color: white !important;
}

.darken_bottom{
  z-index: 999;
  position: fixed;
  bottom: 0;
}
.menu_logo {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}

.page-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
