<md-content layout='column' layout-fill>

    <md-toolbar md-swipe-left='next()' md-swipe-right='prev()'>
        <div class='md-toolbar-tools' layout='row'>
            <md-button class='md-icon-button' ng-click='prev()' aria-label='Previous month'>
                <md-tooltip ng-if='::tooltips()'>Previous month</md-tooltip>&laquo;
            </md-button>
            <div flex></div>
            <h2 class='calendar-md-title'><span>{{ calendar.start | date:titleFormat:timezone }}</span></h2>
            <div flex></div>
            <md-button class='md-icon-button' ng-click='next()' aria-label='Next month'>
                <md-tooltip ng-if='::tooltips()'>Next month</md-tooltip>&raquo;
            </md-button>
        </div>
    </md-toolbar><!-- agenda view -->

    <md-content layout="column" hide show-md show-sm show-xs class='agenda'>
        <div ng-repeat='week in calendar.weeks track by $index'>
            <div flex layout="row" ng-if='sameMonth(day)'
                 ng-class='{&quot;disabled&quot; : isDisabled(day), active: active === day }'
                 ng-click='dataService.data[dayKey(day)].length > 0 && loadedMore.indexOf(dayKey(day)) == -1 ? loadMore(dayKey(day), $event) : handleDayClick(day) '
                 ng-repeat='day in week'>
                <md-tooltip ng-if='::tooltips()'>{{ day | date:dayTooltipFormat:timezone }}</md-tooltip>
                <div class="md-light">{{ day | date:dayFormat:timezone }}</div>
                <div flex layout="column" layout-align="center center">

                    <div ng-if="day >= startOfDay" class="md-primary text-center" style="opacity: 0.5;" layout="column">
                        <span flex>Click to Post</span>
                        <h3>
                            <i aria-label="New Social Post" class="zmdi zmdi-plus zmdi-hc-lg day-action" style="opacity:0.5;"></i>
                        </h3>
                    </div>


                    <!--<div >-->
                    <md-card
                            ng-repeat="socialPost in dataService.data[dayKey(day)]|limitTo:(loadedMore.indexOf(dayKey(day)) == -1 ? 0 : 100)"
                            ng-click="(getTime(socialPost.post_time) > curTime  || socialPost.state == 'DRAFT') ? alterSocialPost(socialPost._id, $event) : statisticsSocialPost(socialPost._id, $event)"
                            layout="row" layout-align="center center">


                        <span layout="fill"
                              class="md-agenda-time">{{socialPost.post_time | amDateFormat:'h:mm A'}}</span>
                        <div layout="row" layout-align="center center"
                             class="md-calendar-social-post-content">
                            <span class="md-calendar-social-post-content-quote md-primary">&#10077;</span>
                            <span class="md-primary" layout-align="center center"
                                  ng-bind-html='toTrustedHTML( socialPost.content )'></span>
                        </div>
                        <div flex></div>
                        <div layout="row" layout-sm="column" layout-xs="column" layout-align="center center"
                             style="max-height: 100px; overflow-y: auto; min-width: 65px !important;">
                            <md-button ng-repeat="social_post in socialPost.social_post"
                                       class="md-fab md-mini ui-social ui-{{platformLookup(social_post.page_id.platform)}}"
                                       aria-label=platform>
                                <i class="zmdi zmdi-{{platformLookup(social_post.page_id.platform)}}"></i>
                                <md-tooltip md-direction="down">{{social_post.page_id.name}}</md-tooltip>
                            </md-button>
                        </div>
                    </md-card>

                    <!--</div>-->
                    <div layout="column" layout-align="stretch">
                        <md-button ng-show="dataService.data[dayKey(day)].length == 0"
                                   ng-click="loadMore(dayKey(day), $event)" md-no-ink class="md-primary">
                            Schedule
                        </md-button>
                        <span
                                ng-show="dataService.data[dayKey(day)].length > 0 && loadedMore.indexOf(dayKey(day)) == -1"
                                md-no-ink class="md-primary"> {{dataService.data[dayKey(day)].length}} Posts
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </md-content><!-- calendar view -->


    <md-content hide show-gt-md flex layout='column' class='calendar'>
        <div layout='row' class='subheader'>
            <div layout-padding class='subheader-day' flex ng-repeat='day in calendar.weeks[0]'>
                <md-tooltip ng-if='::tooltips()'>{{ day | date:dayLabelTooltipFormat }}</md-tooltip>
                {{ day | date:dayLabelFormat }}
            </div>
        </div>
        <div ng-if='week.length' ng-repeat='week in calendar.weeks track by $index' flex layout='row'>
            <div tabindex='{{ sameMonth(day) ? (day | date:dayFormat:timezone) : 0 }}'
                 class="calendar-date"
                 ng-repeat='day in week track by $index'
                 ng-click='dataService.data[dayKey(day)].length > 0 && loadedMore.indexOf(dayKey(day)) == -1 ? loadMore(dayKey(day), $event) : handleDayClick(day) '
                 flex layout="column" layout-padding
                 ng-class='{&quot;disabled&quot; : isDisabled(day), &quot;active&quot;: isActive(day), &quot;md-whiteframe-4dp&quot;: hover || focus }'
                 ng-focus='focus = true;' ng-blur='focus = false;' ng-mouseleave='hover = false'
                 ng-mouseenter='hover = true'>
                <!--<md-tooltip ng-if='::tooltips()'>{{ day | date:dayTooltipFormat }}</md-tooltip>-->
                <div class="md-primary" layout="row">
                    {{ day | date:dayFormat }}
                    <span flex></span>
                    <!--<i aria-label="New Social Post" class="zmdi zmdi-plus zmdi-hc-lg day-action" style="opacity:0.5;"-->
                       <!--ng-if="day >= startOfDay"></i>-->
                </div>
                <div flex>
                    <div ng-if="day >= startOfDay" layout-align="center center" class="md-primary text-center" style="opacity: 0.5;" layout="column">
                        <span flex>Click to Post</span>
                        <h3>
                            <i aria-label="New Social Post" class="zmdi zmdi-plus zmdi-hc-lg day-action" style="opacity:0.5;"></i>
                        </h3>
                    </div>
                    <md-card class="md-calendar-social-post"
                             ng-repeat="mainSocialPost in dataService.data[dayKey(day)]|limitTo:(loadedMore.indexOf(dayKey(day)) == -1 ? 0 : 100)"
                             ng-click="(getTime(mainSocialPost.post_time) > curTime || mainSocialPost.state == 'DRAFT') ? alterSocialPost(mainSocialPost._id, $event) : statisticsSocialPost(mainSocialPost._id, $event)"
                             layout="column">
                        <span layout="row">
                            <span class="md-calendar-time">{{mainSocialPost.post_time | amDateFormat:'h:mm A'}}</span>
                            <div flex></div>
                            <div class="md-calendar-platforms" layout="row">
                                <span ng-repeat="social_post in mainSocialPost.social_post"
                                      class="mini-dot ui-{{platformLookup(social_post.page_id.platform)}}">
                                    <md-tooltip ng-if='::tooltips()'>
                                        {{social_post.page_id.name + " (" +platformLookup(social_post.page_id.platform)
                                        + ")"}}
                                    </md-tooltip>
                                </span>
                            </div>
                        </span>
                        <span layout="column" class="hr"></span>
                        <span layout="row">
                            <i ng-repeat="image in mainSocialPost.images" class="material-icons">{{tag.tag}}</i>
                        </span>
                        <span layout="row" style="overflow-x: auto;" layout-align="center center">
                            <!--All images from post.-->
                            <img ng-src="{{image.url}}" ng-repeat="image in mainSocialPost.images" class="md-card-image"
                                 alt="Social media image">
                        </span>
                        <div layout="row" layout-align="stretch" class="md-calendar-social-post-content">
                            <span class="md-calendar-social-post-content-quote">&#10077;</span>
                            <span class="md-primary"
                                  style="  line-height: 1.5em; max-height: 7.7em; text-overflow: ellipsis; overflow: hidden; "
                                  ng-bind-html='toTrustedHTML( mainSocialPost.content )'></span>
                        </div>

                        <!--<span layout="column" layout-align="stretch">-->
                        <!--<md-button-->
                        <!--class="md-primary"-->
                        <!--aria-label="Statistics">-->
                        <!--<md-icon>insert_chart</md-icon> Statistics-->
                        <!--</md-button>-->

                        <!--</span>-->
                    </md-card>
                    <span layout="row">
                        <md-button class="md-no-focus" layout-align="stretch" flex md-no-ink md-no-bar
                                   ng-show="dataService.data[dayKey(day)].length > 0 && loadedMore.indexOf(dayKey(day)) == -1">
                            {{dataService.data[dayKey(day)].length}} Posts
                        </md-button>
                    </span>
                </div>
            </div>
        </div>
    </md-content>
</md-content>