<form name="login" method="post" id="login">
    <div class="text-center">
        Don't have an account? <strong><a href="/"  class="label md-primary">Click here.</a></strong>
    </div>
    <md-input-container class="md-block">
        <label>Email Address</label>
        <input name="email" ng-model="email" required type="email">
        <div ng-messages="login.email.$error">
            <div ng-message="email">The email must be in valid format.</div>
        </div>
    </md-input-container>


    <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" ng-model="password" required name="password">
    </md-input-container>

    <md-input-container class="md-block">
        <md-checkbox class="md-primary" name="remember">
            Remember Password for 30 days?
        </md-checkbox>
    </md-input-container>
    <div layout="column" layout-align="stretch">
        <md-button type="submit" class="md-primary md-raised" ng-click="loginForm(login)">Login</md-button>
    </div>
</form>
