<!DOCTYPE html>
<html>
<head>
    <title>Social Ignite</title>
    <meta name="description" content="A desc">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta property="og:url" content="https://socialignite.media">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Social Ignite - Social Media Engagement Tool">
    <meta property="og:description" content="Your #1 tool for social media engagement analytics and management for businesses and online personalities.">
    <meta property="og:image" content="https://assets.socialignite.media/height/400/dark_logo_simple.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://socialignite.media">
    <meta name="twitter:title" content="Social Ignite - Social Media Engagement Tool">
    <meta name="twitter:description" content="Your #1 tool for social media engagement analytics and management for businesses and online personalities.">
    <link href="/pub/css/please-wait.css" rel="stylesheet">
    <meta name="twitter:image" content="https://assets.socialignite.media/height/400/dark_logo_simple.png">
    <meta name="twitter:site" content="SocialIgniteApp">
    <link rel=”apple-touch-icon” href=”https://assets.socialignite.media/height/50/dark_logo_simple.png" sizes=”180x180">
    <link rel="icon" type="image/png" href="https://assets.socialignite.media/height/50/dark_logo_simple.png" sizes="32x32">
    <link rel="canonical" href="/">
    <base href="/">
</head>
<body>

<md-content class="dark_scroll wide" id="pageContent"  layout-fill>
    <md-content id="appPage" ui-view ng-cloak layout-fill>
    </md-content>
</md-content>
</body>
<link rel="stylesheet" href="/pub/css/main.css">
<!--Locally host theses style sheets.-->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<script src="/pub/custom/please-wait.js" charset="utf-8"></script>
<script src="/app.js" charset="utf-8"></script>
</html>