<!DOCTYPE html>
<html>
<head>
    <title>Social Ignite</title>
    <meta name="description"
          content="Your #1 tool for social media engagement analytics and management for businesses and online personalities.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta property="og:url" content="https://socialignite.media">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Social Ignite - Social Media Engagement Tool">
    <meta property="og:description"
          content="Your #1 tool for social media engagement analytics and management for businesses and online personalities.">
    <meta property="og:image" content="__ASSETS__/img/boxed/512/dark_logo_simple.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://socialignite.media">
    <meta name="twitter:title" content="Social Ignite - Social Media Engagement Tool">
    <meta name="twitter:description"
          content="Your #1 tool for social media engagement analytics and management for businesses and online personalities.">
    <!--<link href="/css/please-wait.css" rel="stylesheet">-->
    <meta name="twitter:image" content="__ASSETS__/img/boxed/512/dark_logo_simple.png">
    <meta name="twitter:site" content="SocialIgniteApp">
    <meta name="mobile-web-app-capable" content="yes">


    <link rel="icon" type="image/png" href="__ASSETS__/img/boxed/32/dark_logo_simple.png" sizes="32x32">
    <link rel="icon" sizes="192x192" href="__ASSETS__/img/boxed/192/dark_logo_simple.png">
    <link rel="icon" sizes="128x128" href="__ASSETS__/img/boxed/144/dark_logo_simple.png">


    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Social Ignite">
    <link rel="apple-touch-icon" href="__ASSETS__/img/boxed/512/dark_logo_simple.png">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="__ASSETS__/img/boxed/144/dark_logo_simple.png">

    <!-- MS Application requirements -->
    <meta name="msapplication-TileImage" content="__ASSETS__/img/boxed/512/dark_logo_simple.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <meta name="theme-color" content="#3367D6">


    <link rel="canonical" href="/">
    <link rel="manifest" href="/manifest.json">
    <base href="/">
</head>
<body>
<div class="wdt-loading-screen">
    <div class="wdt-loading-phrases">
        <div class="wdt-loading-phrase-category" data-category="default">
            <div class="wdt-loading-phrase">Prettifying UI...</div>
            <div class="wdt-loading-phrase">Preparing Cat Pictures...</div>
            <div class="wdt-loading-phrase">Testing your patience...</div>
            <div class="wdt-loading-phrase">Coffee machine broken...</div>
            <div class="wdt-loading-phrase">Spinning up the hamster...</div>
            <div class="wdt-loading-phrase">Shovelling coal into server...</div>
            <div class="wdt-loading-phrase">Programming flux capacitor...</div>
            <div class="wdt-loading-phrase">Painting office walls...</div>
            <div class="wdt-loading-phrase">Coffee break...</div>
            <div class="wdt-loading-phrase">Health check...</div>
            <div class="wdt-loading-phrase">Storage check...</div>
            <div class="wdt-loading-phrase">Programming backend...</div>
            <div class="wdt-loading-phrase">Smashing website bugs...</div>
            <div class="wdt-loading-phrase">Improving your experience...</div>
            <div class="wdt-loading-phrase">Baking cookies for page...</div>
        </div>
    </div>
</div>
    <md-content class="dark_scroll wide" id="pageContent" layout-fill ui-view ng-cloak>

    </md-content>
</body>

<link rel="stylesheet" href="/css/main.css">
<script src="/app.js" charset="utf-8"></script>
</html>