<md-content layout-padding layout="row">
    <md-content flex>
        <h1 class="page-header">Support</h1>
        Below is a list of active tickets pending admin review.
    </md-content>
</md-content>


<h3 ng-if="tickets.length == 0">No tickets were found...</h3>
<md-list layout-padding flex>
    <md-list-item href="/admin/support/{{ticket._id}}" ng-repeat="ticket in tickets" class="md-2-line">
        <i class="zmdi zmdi-comment-more md-padding zmdi-hc-lg"></i>
        <div ng class="md-list-item-text">
            <h3 ng-bind="ticket.user"></h3>
            <p ng-bind="ticket.title"></p>
        </div>
        <md-button ng-if="ticket.status != 'Closed'" ng-click="closeTicket(ticket)" class="md-secondary"
                   aria-label="close">
            <i class="zmdi zmdi-close md-padding zmdi-hc-lg"></i>
        </md-button>
        <md-button class="md-list-item-text md-secondary">
            <p ng-bind="ticket.status">
            <p am-time-ago="ticket.last_response"></p>
        </md-button>
    </md-list-item>
</md-list>
<md-button ng-click="loadTickets()" ng-if="remaining > 0">
    Load more tickets...
</md-button>
