<md-tabs layout-fill md-selected="defaultTab" md-autoselect="false" md-stretch-tabs="always">
    <md-tab label="Active Subscription" ng-if="subscription || chosenPackage">
        <md-card class="md-whiteframe-3dp md-padding">
            <h2>Subscription</h2>
            <span class="md-block md-padding" flex layout="row">
                <md-input-container flex class="md-block">
                    <label>Package</label>
                    <input disabled ng-model="subscription.package">
                </md-input-container>
                <md-input-container flex ng-if="subscription.renewal" class="md-block">
                    <label>Renewal</label>
                    <input disabled ng-value="subscription.renewal | date : 'longDate'">
                </md-input-container>
            </span>
            <span class="md-block md-padding" ng-if="subscription" flex layout="row">
                <md-input-container flex class="md-block">
                    <label>Last Payment</label>
                    <input disabled ng-value="subscription.created_at | date : 'longDate'">
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label>Status</label>
                    <input disabled ng-value="subscription.status">
                </md-input-container>
            </span>
            <span ng-if="subscription.status == 'active' && !cancellingSubscription" layout="column"
                        layout-align="stretch">
                <md-button ng-click="cancelSubscription()" class="md-warn">Cancel Subscription</md-button>
            </span>
            <span ng-if="cancellingSubscription == true">
                <h2>Please wait while we cancel your subscription service.</h2>
            </span>
        </md-card>
    </md-tab>
    <md-tab label="Plans">
        <span class="md-padding">
            <notification-card type="info" ng-if="subscription">
                <p>Subscribing to any new package will automatically cancel current package (if current package is cheaper) and charge only the difference for the initial month.</p>
            </notification-card>
            <span ng-if="!loading || chosenPackage != null" layout-padding
                        layout="{{chosenPackage != null ? 'column' : 'row'}}">
                <md-card ng-repeat="package in packages"
                         ng-hide="(chosenPackage != null && chosenPackage != package.internal_name) || package.internal_name == subscription.package"
                         ng-click="subscribePackage(package.internal_name)"
                         class="package-card" layout="column">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{package.name}}</span>
                            <span class="md-subhead">{{package.cost.value | currency}} per {{(package.expiry.interval == 1 ? '' : package.expiry.interval + ' ') + package.expiry.type}}</span>

                            <span flex layout="column" layout-align="start">
                                <ul flex>
                                    <li ng-repeat="feature in package.features">{{feature}}</li>
                                </ul>
                            </span>

                        </md-card-title-text>
                        <md-card-title-media>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="column" ng-if="chosenPackage == null" layout-align="stretch">
                        <div class="box">
                            <button class="paypal-button">
                                <span class="paypal-button-title">
                                    Subscribe via
                                </span>
                                <span class="paypal-logo">
                                    <i>Pay</i><i>Pal</i>
                                </span>
                            </button>
                            <small class="text-center">* Renews every 30 days, until cancelled.</small>
                        </div>
                    </md-card-actions>
                </md-card>
            </span>
            <span ng-if="loading" layout="column">
                <div layout="row">
                    <span>
                        <i class="zmdi zmdi-refresh-sync md-padding zmdi-hc-2x continious_rotation"></i>
                    </span>
                    <h2>You will be redirected to PayPal shortly... please wait.</h2>
                </div>
            </span>
        </span>
    </md-tab>
    <md-tab label="Transactions" ng-if="transactions.count > 0">
        <md-card class="md-whiteframe-3dp md-padding">
            <h2>Transactions</h2>
            <%- include /src/app/views/_portal/billing/_transactions.ejs %>
        </md-card>
    </md-tab>
</md-tabs>

