<h1 class="page-header">Billing</h1>
This is a billing page, here you can configure your subscription settings!<br>
Currently the tool is free for usage. Disregard this page.<br>
<br>

<div layout="column" class="md-block">

    <h3 ng-if="subscription">Active Subscription</h3>
    <md-content class="md-block" flex layout="row">
        <md-input-container flex ng-if="subscription" class="md-block">
            <label>Package</label>
            <input disabled ng-model="subscription.package">
        </md-input-container>
        <md-input-container flex ng-if="subscription && subscription.renewal" class="md-block">
            <label>Renewal</label>
            <input disabled ng-value="subscription.renewal | date : 'longDate'">
        </md-input-container>
    </md-content>
    <md-content class="md-block" flex layout="row">
    <md-input-container flex ng-if="subscription" class="md-block">
        <label>Last Payment</label>
        <input disabled ng-value="subscription.created_at | date : 'longDate'">
    </md-input-container>
    <md-input-container flex ng-if="subscription" class="md-block">
        <label>Status</label>
        <input disabled ng-value="subscription.status">
    </md-input-container>
    </md-content>

    <md-content ng-if="!subscription || subscription.status == 'cancelled'">
        <h3>Subscribe to a package</h3>


        <md-content layout-padding layout="row"  layout-wrap>
            <md-card ng-repeat="package in packages" ng-click="subscribePackage(package.internal_name)"
                     class="package-card" layout="column">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{package.name}}</span>
                        <span class="md-subhead">{{package.cost.value | currency}} per {{(package.expiry.interval == 1 ? '' : package.expiry.interval + ' ') + package.expiry.type}}</span>

                        <span flex layout="column" layout-align="start">
                            <ul flex>
                                <li ng-repeat="feature in package.features">{{feature}}</li>
                            </ul>
                        </span>
                        <div ng-if="loading" layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                        </div>
                    </md-card-title-text>
                    <md-card-title-media>
                        <md-icon>shopping_cart</md-icon>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="column" layout-align="stretch">
                    <md-button class="md-primary md-raised">Subscribe</md-button>
                </md-card-actions>
            </md-card>
        </md-content>
    </md-content>
    <md-content ng-if="subscription.status == 'active'" layout="column" layout-align="stretch">
        <md-button ng-click="cancelSubscription()" class="md-warn">Cancel Subscription</md-button>
    </md-content>
</div>
