<div layout="column" class="md-padding" layout-gt-sm="row" style="margin-top: -30px;">
    <div layout="column" layout-gt-sm="row" flex layout-wrap layout-align="center center">
        <span>
            Showing
        </span>
        <div layout="row" flex layout-wrap>
            <md-button
                    ng-click="togglePlatformFilter(platform.id)"
                    ng-repeat="platform in socialPlatformDetails"
                    ng-class="isPlatformFiltered(platform.id) ? 'ui-social-active' : ''"
                    class="md-fab md-mini ui-social ui-{{platform.shortname}}"
                    aria-label=platform>
                <md-tooltip md-direction="top" ng-bind="platform.fullname"></md-tooltip>
                <i class="zmdi zmdi-{{platform.shortname}}"></i>
            </md-button>
        </div>
    </div>
    <span layout-align="center center" layout="row">
        <md-input-container ng-init="filterName = {}" md-no-float class=" md-block">
            <!-- Use floating label instead of placeholder -->
            <md-icon class="zmdi zmdi-search zmdi-hc-lg"></md-icon>
            <input ng-model="filterName.name" placeholder="Search pages by name" type="text">
        </md-input-container>
    </span>
</div>

<div class="pricing-table md-padding" layout="row" layout-wrap layout-align="center center">

    <md-card flex="100" flex-gt-xs="45" flex-gt-md="25" ng-repeat="socialPage in allPages | filter: filterName" ng-click="openStatistic(socialPage._id)"
             class="pricing-option md-padding md-whiteframe-3dp">
        <div>
            <span layout="row" ng-if="socialPage.profile_src != null">
                <span flex style="text-align: start">
                    <i class="zmdi zmdi-{{platforms[socialPage.platform].id}}" style="opacity: 0.4; font-size: 2em;"></i>
                </span>
                <span flex>
                    <img ng-src="{{socialPage.profile_src}}" class="large-profile-image"/>
                </span>
                <span flex></span>
            </span>

            <span layout="row" ng-if="socialPage.profile_src == null">
                <md-button
                        class="md-fab md-mini ui-social ui-{{platforms[socialPage.platform].id}}"
                        aria-label=platform>
                    <md-tooltip md-direction="top" ng-bind="platforms[socialPage.platform].id"></md-tooltip>
                    <i class="zmdi zmdi-{{platforms[socialPage.platform].id}}"></i>
                </md-button>
            </span>
        </div>
        <h1 style="text-overflow: ellipsis; white-space: nowrap;">{{ socialPage.name }}</h1>
        <hr />
        <b>Summary of stats</b>


        <!--<div class="price">-->
        <!--<div class="front">-->
        <!--<span class="price">-->
        <!--</span>-->
        <!--</div>-->
        <!--<div class="back" layout="column">-->
        <!--<md-button ng-if="socialPage.state_details.code == platformErrors.AUTH_FAIL.id" flex="30"-->
        <!--class="button" ng-click="addSocialAccount(socialPage.platform, $event);">Fix Issue-->
        <!--</md-button>-->
        <!--<md-button flex="30" class="button md-warn" ng-click="removeSocialAccount(socialPage._id, $event)">Remove-->
        <!--</md-button>-->
        <!--</div>-->
        <!--</div>-->
    </md-card>
</div>