<div layout="row" layout-wrap>
    <md-card class="pointer" layout="column" ng-repeat="socialStack in socialStacks"
             ng-click="editSocialStack($event, socialStack.stack._id)">
        <div layout="row" class="md-padding" layout-align="center center">
            <span flex ng-bind="socialStack.stack.name"></span>
            <md-button
                    ng-repeat="socialPage in socialStack.results"
                    class="md-fab md-mini ui-social ui-{{socialPlatforms[socialPage.platform].id}}"
                    aria-label=platform>
                <md-tooltip md-direction="top" ng-bind="socialPage.name"></md-tooltip>
                <i class="zmdi zmdi-{{socialPlatforms[socialPage.platform].id}}"></i>
            </md-button>
        </div>
    </md-card>
</div>