<div layout="column" layout-gt-sm="row">
    <div layout="column" layout-gt-sm="row" flex layout-wrap>
        Showing
        <div layout="row" flex layout-wrap>
            <md-button
                    ng-click="togglePlatformFilter(platform.id)"
                    ng-repeat="platform in socialPlatformDetails"
                    ng-class="isPlatformFiltered(platform.id) ? 'ui-social-active' : ''"
                    class="md-fab md-mini ui-social ui-{{platform.shortname}}"
                    aria-label=platform>
                <md-tooltip md-direction="top" ng-bind="platform.fullname"></md-tooltip>
                <i class="zmdi zmdi-{{platform.shortname}}"></i>
            </md-button>
        </div>
    </div>
    <span layout-align="center center" layout="row">
        <md-input-container ng-init="filterName = {}" md-no-float class=" md-block">
            <!-- Use floating label instead of placeholder -->
            <md-icon class="zmdi zmdi-search zmdi-hc-lg"></md-icon>
            <input ng-model="filterName.name" placeholder="Search pages by name" type="text">
        </md-input-container>
    </span>
</div>
<md-card class="md-whiteframe-3dp">
    <md-table-container>
        <table md-table md-row-select ng-model="pagesModel.selected">
            <thead md-head md-order="pagesModel.order">
            <tr md-row>
                <th md-column></th>
                <th md-column>Platform</th>
                <!--<th md-column md-order-by="id"><span>id</span></th>-->
                <th md-column>Name</th>
                <th md-column>Posts</th>
                <th md-column>Impressions</th>
                <th md-column>Unique Views</th>
                <th md-column>Fans</th>
                <th md-column>Updated</th>
                <th md-column>Management</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="socialPage in allPages | filter: filterName" ng-click="openStatistic(socialPage._id)"
                class="pointer">
                <td md-cell>
                    <md-button class="md-icon-button" ng-if="socialPage.state == 'ERROR'" aria-label="Posts">
                        <md-tooltip md-direction="top">Last Updated</md-tooltip>
                        <md-tooltip md-direction="top">{{platformErrors[socialPage.state_details.code].detail}}
                        </md-tooltip>
                        <i class="zmdi zmdi-alert-octagon zmdi-hc-2x"></i>
                    </md-button>
                    <br>
                </td>

                <td md-cell>
                    <md-button
                            class="md-fab md-mini ui-social ui-{{platforms[socialPage.platform].id}}"
                            aria-label=platform>
                        <md-tooltip md-direction="top" ng-bind="platforms[socialPage.platform].id"></md-tooltip>
                        <i class="zmdi zmdi-{{platforms[socialPage.platform].id}}"></i>
                    </md-button>
                </td>
                <td md-cell>{{socialPage.name}}</td>
                <td md-cell>{{socialPage.posts || 'N/A'}}</td>
                <td md-cell>{{socialPage.statistic.views.total == null ? 'NA' : socialPage.statistic.views.total}}
                </td>
                <td md-cell>{{socialPage.statistic.views.unique == null ? 'NA' : socialPage.statistic.views.unique}}
                </td>
                <td md-cell>{{socialPage.statistic.likes.total == null ? 'NA' : socialPage.statistic.likes.total}}
                </td>
                <td md-cell am-time-ago="socialPage.lastStatisticUpdate"></td>
                <td md-cell>
                    <md-button
                            ng-if="socialPage.state_details.code != platformErrors.AUTH_FAIL.id && updatedRecently(socialPage.lastStatisticUpdate)"
                            flex="30" class="md-primary" ng-click="refreshSocialAccount(socialPage._id, $event)">Refresh
                    </md-button>
                    <md-button ng-if="socialPage.state_details.code == platformErrors.AUTH_FAIL.id" flex="30"
                               class="md-primary" ng-click="addSocialAccount(socialPage.platform, $event);">Fix Issue
                    </md-button>
                    <span flex></span>
                    <md-button flex="30" class="md-warn" ng-click="removeSocialAccount(socialPage._id, $event)">
                        Remove
                    </md-button>

                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-card class="pointer" flex="100" ng-if="remaining > 0" ng-click="loadMoreSocialPages()"
             layout-align="center center">
        <h3>Load more...</h3>
    </md-card>
</md-card>