<md-tabs layout-fill>
    <md-tab label="Social Profiles" md-on-select="addPageActive = true" md-on-deselect="addPageActive = false">
        <md-content class="md-padding" layout="column" ng-controller="pagesController">
            <div class="md-padding">
                <%- include _socialPages.ejs %>
            </div>
            <md-content layout="row" class="tutorial-step-add-pages">
                <md-fab-speed-dial md-direction="up" class="md-scale page-button">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-primary">
                            <md-tooltip md-direction="left">Add new profile</md-tooltip>
                            <md-icon>add</md-icon>
                        </md-button>
                    </md-fab-trigger>

                    <md-fab-actions>
                        <md-button ng-click="addSocialAccount($event, platformDetails.id); nextStep();"
                                   ng-repeat="platformDetails in socialPlatformDetails"
                                   class="md-fab md-raised md-mini ui-social ui-{{platformDetails.shortname}}"
                                   aria-label=platform>
                            <i class="zmdi zmdi-{{platformDetails.shortname}}"></i>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </md-content>
        </md-content>
    </md-tab>
    <md-tab label="Social Stacks" md-on-select="addStackActive = true" md-on-deselect="addStackActive = false"
            layout-fill>
        <md-content class="md-padding" ng-controller="socialStackController">
            <md-content class="md-padding" layout="column" layout-wrap>

                <%- include _socialStacks.ejs %>
            </md-content>
            <md-button ng-click="editSocialStack();"
                       class="md-fab md-primary page-button"
                       aria-label="Add a stack">
                <md-tooltip md-direction="left">Add new stack</md-tooltip>
                <md-icon>add</md-icon>
            </md-button>
        </md-content>

    </md-tab>
</md-tabs>


