<md-content flex>
    <div layout="row" layout-align="start center">
        <h1 class="page-header" flex>Social Profiles</h1>
        <md-chips>
            <md-chip>Beta</md-chip>
        </md-chips>
    </div>

    <div ui-view>
    </div>
</md-content>

