<tutorial-step active-div="activeDiv" active-description="activeDescription"></tutorial-step>

<section md-theme="{{ dynamicTheme }}" md-theme-watch layout="column" layout-fill flex>

    <md-content hide-gt-sm>
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleMenu()">
                    <md-icon layout-align="start start" layout="stretch" class="white">list</md-icon>
                </md-button>

                <h2 flex md-truncate>Menu</h2>
            </div>
        </md-toolbar>
    </md-content>

    <md-content layout="row" layout-fill flex>
        <md-sidenav
                layout-fill
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')"
                md-whiteframe="4">

            <div>
                <h1 class="md-toolbar-tools" layout-align="center center">
                    <img ng-src="{{dynamicTheme == 'default' ? 'https://assets.socialignite.media/height/50/dark_logo.png' : 'https://assets.socialignite.media/height/50/light_logo.png'}}" style="height: 50px; width: auto;">
                </h1>
            </div>
            <md-content>
                <md-list flex>
                    <md-list-item class="md-2-line home" href="/portal/" ng-click="toggleMenu();">
                        <md-icon class="black">home</md-icon>
                        <div class="md-list-item-text">
                            <h3>Home</h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line tutorial-step-schedule-menu" href="/portal/schedule" ng-click="toggleMenu(); nextStep();">
                        <md-icon class="black">event</md-icon>
                        <div class="md-list-item-text">
                            <h3>Schedule</h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line tutorial-step-pages-menu" href="/portal/accounts" ng-click="toggleMenu(); nextStep();">
                        <md-icon class="black">library_books</md-icon>
                        <div class="md-list-item-text">
                            <h3>Pages</h3>
                        </div>
                    </md-list-item>
                    <md-divider ></md-divider>
                    <md-subheader class="md-no-sticky">Misc.</md-subheader>
                    <md-list-item class="md-2-line stats" href="/portal/heatmap" ng-click="toggleMenu();">
                        <md-icon class="black">show_chart</md-icon>
                        <div class="md-list-item-text">
                            <h3>Statistics</h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" href="/portal/resources" ng-click="toggleMenu()">
                        <md-icon class="black">image</md-icon>
                        <div class="md-list-item-text">
                            <h3>Images</h3>
                        </div>
                    </md-list-item>
                    <md-divider ></md-divider>
                    <md-subheader class="md-no-sticky">Email: {{user.email}}</md-subheader>
                    <md-list-item class="md-2-line" href="/portal/profile" ng-click="toggleMenu()">
                        <md-icon class="black">face</md-icon>
                        <div class="md-list-item-text">
                            <h3>Profile</h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" href="/portal/billing" ng-click="toggleMenu()">
                        <md-icon class="black">shopping_cart</md-icon>
                        <div class="md-list-item-text">
                            <h3>Billing</h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-click="logout()">
                        <md-icon class="black">exit_to_app</md-icon>
                        <div class="md-list-item-text">
                            <h3>Logout</h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-click="switchTheme()">
                        <md-icon class="black">brightness_1</md-icon>
                        <div class="md-list-item-text">
                            <h3>Switch to {{dynamicTheme == "dark" ? 'Light' : 'Dark'}} Theme</h3>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content flex="100" layout-fill class="md-padding" ui-view>


        </md-content>
    </md-content>


</section>




