<md-button href="/statistics" class="md-primary page-link"> < Back to social profile list</md-button>
<span layout="row">
    <h2 ng-bind="activePage.name + '\'s Overview '" flex></h2> <md-button>Trend: {{currentTrend}}</md-button>
</span>
<small>Click on the labels to get further details.</small>

<div layout-padding layout="row" flex="noshrink" layout-align="center center">
    <canvas id="fansChart" flex="100" flex-gt-lg="80" layout="column"></canvas>
</div>


<div layout="row" layout-wrap flex layout-align="center start" >
    <div class="statistics-card-container" flex="33">
        <md-whiteframe class="md-whiteframe-2dp" layout="column" flex="49" flex-gt-md="24">
            <md-toolbar layout="row" class="md-primary">
                <div class="md-toolbar-tools">
                    <span flex>Scheduled Posts</span>
                    <i class="zmdi zmdi-plus zmdi-hc-2x pointer md-padding"></i>
                </div>
            </md-toolbar>

            <md-content layout-padding class="text-center" ng-if="scheduledPosts.length == 0 || scheduledPosts == null">
                <h3>You currently have no scheduled posts.</h3>
                <h3>Create One</h3>
            </md-content>
            <md-list layout-align="stretch">
                <md-list-item class="md-2-line" layout="row" layout-align="center center" ng-click="null" ng-repeat="post in scheduledPosts">
                    <md-button
                             disabled aria-label="image">
                        <i class="zmdi zmdi-image zmdi-hc-lg" ng-if="post.tags.indexOf('Image')"></i>
                    </md-button>

                    <span class="md-list-item-text" layout-align="stretch" layout="column">
                        <h3 layout="row">
                                Scheduled<span>&nbsp;</span><span am-time-ago="post.post_time"></span>
                        </h3>
                        <span layout="row">
                            <p ng-bind="post.content"></p>
                        </span>
                    </span>
                </md-list-item>
            </md-list>
        </md-whiteframe>
    </div>
    <div class="statistics-card-container" flex="33">

        <md-whiteframe class="md-whiteframe-2dp" c layout="column" layout="column" flex="49" flex-gt-md="24">
            <md-toolbar layout="row" class="md-primary">
                <div class="md-toolbar-tools">
                    <span>Fans Analysis</span>
                </div>
            </md-toolbar>

            <md-content layout-wrap layout-padding class="text-center">
                <h2 ng-if="recent_change_1">Recent {{recent_change_1}}% (24h)</h2>
                <h2 ng-if="recent_change_7">Past 7 days {{recent_change_7}}%</h2>
                <h2 ng-if="!recent_change_7 && !recent_change_1">No analysis available yet.</h2>
                <h3 ng-if="!recent_change_7 && !recent_change_1">Please wait at least a day.</h3>
            </md-content>
        </md-whiteframe>
    </div>


    <div class="statistics-card-container" flex="33">

        <md-whiteframe class="md-whiteframe-2dp" layout="column" layout="column" flex="49" flex-gt-md="24">
            <md-toolbar layout="row" class="md-primary">
                <div class="md-toolbar-tools">
                    <span>Recommendations</span>
                </div>
            </md-toolbar>

            <md-content layout-padding class="text-center">
                <p>No recommendations currently.</p>
            </md-content>
        </md-whiteframe>
    </div>
    <div class="statistics-card-container" flex="33">

        <md-whiteframe class="md-whiteframe-2dp" layout="column" layout="column" flex="49" flex-gt-md="24">
            <md-toolbar layout="row" class="md-primary">
                <div class="md-toolbar-tools">
                    <span>Content Analysis</span>
                </div>
            </md-toolbar>

            <md-content layout-padding class="text-center">
                <p>Analysis of what topics reach more audience.</p>

                <h3>Upgrade now</h3>
            </md-content>
        </md-whiteframe>
    </div>
    <div class="statistics-card-container" flex="33">

        <md-whiteframe class="md-whiteframe-2dp" layout="column" layout="column" flex="49" flex-gt-md="24">
            <md-toolbar layout="row" class="md-primary">
                <div class="md-toolbar-tools">
                    <span>Recommended Schedule</span>
                </div>
            </md-toolbar>

            <md-content layout-padding class="text-center">
                <p>Please post more often to gain insights.</p>
                <h3>Create One</h3>
            </md-content>
        </md-whiteframe>
    </div>
</div>
