<div layout="row" layout-align="start center">
    <h1 class="page-header" flex>Statistics Analytics</h1>
    <md-chips>
        <md-chip>Beta</md-chip>
    </md-chips>
</div>
<md-content layout-fill layout="column">
    <md-tabs flex>
        <md-tab label="Overview">

        </md-tab>
        <md-tab label="Projections">

        </md-tab>
        <!--<md-tab label="Analysis">-->
        <!--</md-tab>-->
    </md-tabs>
</md-content>
