<div layout="row" layout-align="start center">
    <h1 class="page-header" flex>Statistics Analytics</h1>
    <md-chips>
        <md-chip>Beta</md-chip>
    </md-chips>
</div>
<h2>This page is currently planned for heatmap usage and analysis!</h2>