<div layout="row">
    <div flex flex-offset-sm="0" flex-offset-gt-sm="30">
        <h1>Email Verification
            <small>the final step...</small>
        </h1>
        <div ng-include="'/_public/auth/emailVerify/emailVerifyFocus.html'"></div>
    </div>
    <div flex-gt-sm="30"></div>
</div>