<div layout="row">
    <div flex flex-offset-sm="0" flex-offset-gt-sm="30">
        <h1>Email Verification
            <small>the final step...</small>
        </h1>
        <form name="email_verify" method="post" id="email_verify">
            <!--<md-toolbar ng-show="verify.error" class="md-warn">-->
            <!--<div class="md-toolbar-tools">-->
            <!--<p class="md-flex">-->
            <!--<strong>Oh snap!</strong> <span ng-bind="verify.error"></span>-->
            <!--</p>-->
            <!--</div>-->
            <!--</md-toolbar>-->
            <p>We have sent an email to <span ng-bind="email_verify_email"/>, open the link in the email or enter the code below. </p>

            <div class="text-center">
                Did not get an email? <span style="cursor: pointer" ng-click="requestResend(email_verify)">Resend email.</span>
            </div>
            <md-input-container class="md-block">
                <label>Email Address</label>
                <input ng-init="email = email_verify_email" type="email" name="email" required ng-model="email">
                <div class="hint">Enter the email you used registered.</div>
                <div ng-messages="email_verify.email.$error">
                    <div ng-message="email">The email must be in valid format.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Verification Code</label>
                <input type="text" ng-init="code = email_verify_code" name="code" class="md-disabled" ng-model="code">
                <div class="hint">Check your email for the code, or click the link to verify.</div>
            </md-input-container>
            <div layout="column" layout-align="stretch">
                <md-button type="submit" class="md-primary md-raised" ng-click="emailVerifyForm(email_verify)">Continue</md-button>
            </div>
        </form>

    </div>
    <div flex-gt-sm="30"></div>
</div>