<span layout="row" layout-align="center center">
  <span>
    <md-button class="md-secondary nolink">© SocialIgnite 2018</md-button>
    <md-button hide show-gt-sm class="md-secondary nolink"
               href="https://socialignite.media/privacy-policy/">Privacy Policy</md-button>
    <md-button hide show-gt-sm class="md-secondary nolink" href="https://socialignite.media/terms-and-conditions/">Terms & Conditions</md-button>
    <md-button hide show-gt-md class="md-secondary nolink" href="https://github.com/Undeadkillz/social-ignite-webapp">Open Source</md-button>
  </span>
</span>