<md-content layout="row" layout-align="center center">
  <span>
    <md-button class="md-secondary" disabled href="https://socialignite.media/">© SocialIgnite 2018</md-button> |
    <md-button class="md-secondary" href="https://socialignite.media/privacy-policy/">Privacy Policy</md-button> |
    <md-button class="md-secondary" href="https://socialignite.media/terms-and-conditions/">Terms & Conditions</md-button>
  </span>
</md-content>