<md-content layout="row" layout-align="center center">
  <span>
    <span href="https://socialignite.media/privacy-policy/">Privacy Policy </span> | <span href="https://socialignite.media/terms-and-conditions/">Terms & Conditions</span>
  </span>
</md-content>