<div class="ui page active dimmer">

    <div class="content">
        <div class="center">
            <h2 class="ui inverted icon header">
                <i class="code icon fa-5x"></i>
                Maintenance Mode
                <div class="sub header">We are currently doing some renovations.
                    <br>
                    Until then, why don't you check out this awesome video!
                </div>
            </h2>
        </div>
    </div>

</div>
a
