<div layout="row" layout-align="start center">
    <h1 class="page-header" flex>Images Library</h1>
    <md-chips>
        <md-chip>Beta</md-chip>
    </md-chips>
</div>
<image-uploader
        flex
        layout="column"
        post-information="postInformation"
        pending_image="attachedImage" post-id="postId" control="manage" uploading="uploading" images="images"></image-uploader>
<span ng-if="loadingImages" layout="column" class="md-block">
    <h2 layout-align="center center">Loading  more images</h2>
    <md-progress-linear layout="row" layout-align="stretch" md-mode="indeterminate"></md-progress-linear>
</span>

