<h2>Images</h2>
<hr class="hr"/>
<image-uploader
        flex
        layout="column"
        post-information="postInformation"
        pending_image="attachedImage" post-id="postId" control="manage" uploading="uploading" images="images"></image-uploader>
<span ng-if="loadingImages" layout="column" class="md-block">
    <h2 layout-align="center center">Loading  more images</h2>
    <md-progress-linear layout="row" layout-align="stretch" md-mode="indeterminate"></md-progress-linear>
</span>

