<div layout="row">
    <md-card ng-if="registerLoading" class="md-whiteframe-3dp md-padding" flex flex-offset-sm="0"
             flex-offset-gt-sm="30">
        <h1>Registering... Please wait.</h1>
        <hr class="hr-both"/>
        <md-button disabled flex>
            <i class="zmdi continious_rotation zmdi-refresh-sync md-padding zmdi-hc-5x"></i>
        </md-button>
        <br>
        <div>
            Is it taking a while? Click here to cancel.
        </div>
    </md-card>
    <md-card ng-if="!registerLoading" class="md-whiteframe-3dp md-padding" flex flex-offset-sm="0"
             flex-offset-gt-sm="30">
        <h1>Register
            <small>to get access to all features!</small>
        </h1>
        <form name="register" ng-submit="registerForm(register)" method="post">
            <div class="text-center">
                Already have an account? <a class="md-primary" href="/login"><strong>Click here.</strong></a>
            </div>

            <md-input-container class="md-block">
                <label>Email Address</label>
                <input name="email" ng-model="email" required type="email">
                <div ng-messages="register.email.$error">
                    <div ng-message="email">The email must be in valid format.</div>
                </div>
            </md-input-container>


            <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" ng-model="password" required name="password">
                <div class="hint">Choose a unique password.</div>
            </md-input-container>
            <md-input-container class="md-block">
                <md-input-container class="md-block">
                    <md-checkbox class="md-primary" ng-model="toc" required name="toc">
                        I agree to
                        <a class="md-primary" class="md-caption"
                           href="https://socialignite.media/terms-and-conditions/">Terms & Conditions</a>
                    </md-checkbox>
                    <div ng-messages="register.toc.$error">
                        <div ng-message="required">You must accept the terms and conditions to sign up.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-checkbox class="md-primary" ng-model="mailing_list" ng-init="mailing_list = true"
                                 name="mailing_list">
                        Yes, I want social media tips straight to my mailbox
                    </md-checkbox>
                </md-input-container>
            </md-input-container>

            <div layout="column" layout-align="stretch">
                <md-button type="submit" class="md-primary md-raised">Register</md-button>
            </div>
        </form>
    </md-card>
    <div flex-gt-sm="30"></div>
</div>