<md-content layout="column" layout-fill>
    <span flex></span>
    <span layout="row" flex="60" layout-align="center center">
        <md-content layout="column" class="md-padding">
            <md-content>Choose a method to sign in through...</md-content>

            <md-button class="ui-social-button ui-other md-padding">
                <i class="zmdi zmdi-email md-padding"></i>
                Login with Email
            </md-button>
        </md-content>
    </span>

    <span flex></span>
</md-content>