<form layout-fill layout="column" method="post" id="login">
    <span flex></span>
    <h3></h3>
    <span layout="column" class="md-block md-padding">
        <md-input-container flex layout="column"class="md-block">
            <label>Email Address</label>
            <input name="email" ng-model="email" required type="email">
            <div ng-messages="login.email.$error">
                <div ng-message="email">The email must be in valid format.</div>
            </div>
        </md-input-container>
            <md-button type="submit" flex class="md-primary md-raised">Next</md-button>
    </span>
    <span flex></span>
</form>