<form name="email" ng-submit="submitEmail(emailForm)" method="post" id="login">
    <md-input-container class="md-block">
        <label>Email Address</label>
        <input disabled name="email" ng-model="email" required type="email">
    </md-input-container>
    <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" ng-model="password" required name="password">
    </md-input-container>
    <div layout="column" layout-align="stretch">
        <md-button type="submit" class="md-primary md-raised">Login</md-button>
    </div>
</form>
