<!--This is the page people are forwarded to once they login for the first time only. We will guide them through choosing a package, adding first page, and scheduling first post.-->
<div layout="row" layout-align="start center">
    <h1 class="md-display-1" flex>Choose a service tier</h1>
    <md-chips>
        <md-chip>Beta</md-chip>
    </md-chips>
</div>
