<div>
    <md-button ng-click="return()" class="md-primary page-link"> < Back to list</md-button>
    <md-tabs flex md-autoselect="true" md-stretch-tabs="always" md-dynamic-height="true" ng-if="supportedStatistics.length > 0">
        <md-tab  label="Overview" md-on-select="openStat = 'overview';">
            <span class="md-padding" layout="column" layout-fill>
                <div layout="row">
                    <h1 class="md-display-1" flex>Overview</h1>
                    <md-chips>
                        <md-chip>Beta</md-chip>
                    </md-chips>
                </div>
                <md-card layout-padding>
                    <span>
                        <md-list class="md-dense">
                            <span class="md-no-sticky" layout="column">
                            <span class="dashboard-feed-entry">
                                <div layout="row" class="dashboard-feed-header">
                                    <span class="md-calendar-social-post-content-quote">&#10077;</span>
                                    <div flex></div>
                                    <small><span class="gray_text" am-time-ago="socialPost.post_time"></span></small>
                                </div>
                                <div layout="row" layout-align="stretch" class="dashboard-feed-content">
                                    <span class="text" ng-bind-html='toTrustedHTML( socialPostMain.content )'></span>
                                </div>
                            </span>
                                <div style="display: block;" class="text-right">
                                    <md-button class="md-warn md-raised" ng-click="deletePost(socialPost._id)" aria-label="Delete across all pages">
                                        Delete Post on {{socialPost.page_id.name}}
                                    </md-button>
                                </div>
                            </span>
                        </md-list>
                    </span>
                </md-card>

            </span>
        </md-tab>
        <md-tab ng-disabled="supportedStatistics.indexOf('likes.total') == -1" label="Likes" md-on-select="openStat = 'likes';">
            <md-content class="md-padding" layout="column" layout-fill>
                <div layout="row">
                    <h1 class="md-display-1" flex>Likes</h1>
                    <md-chips>
                        <md-chip>Beta</md-chip>
                    </md-chips>
                </div>
                <div layout-padding layout="row" flex="noshrink" layout-align="center center">
                    <canvas id="likesChart" flex="100" flex-gt-lg="60" style="height: 500px" layout="column"></canvas>
                </div>
            </md-content>
        </md-tab>
        <md-tab ng-disabled="supportedStatistics.indexOf('views.total') == -1" label="Unique Visitors" md-on-select="openStat = 'visitors';">
            <md-content class="md-padding" layout="column" layout-fill>
                <div layout="row">
                    <h1 class="md-display-1" flex>Unique Visitors</h1>
                    <md-chips>
                        <md-chip>Beta</md-chip>
                    </md-chips>
                </div>
                <div layout-padding layout="row" flex="noshrink" layout-align="center center">
                    <canvas id="visitorsChart" flex="100" flex-gt-lg="60" style="height: 500px" layout="column"></canvas>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
    <md-content layout-fill ng-if="supportedStatistics.length == 0" layout-align="center center" class="text-center">
        <h2>No statistics available right now</h2>
        <h2>Please wait a few minutes as we collect them...</h2>
    </md-content>
</div>